services:
  database:
    image: mariadb:10.11
    restart: always
    volumes:
      - ./db:/var/lib/mysql

  cache:
    image: redis:7-alpine
    restart: always

  panel:
    image: ghcr.io/pelican-dev/panel:latest
    restart: always
    ports:
      - "8080:80"
      - "8443:443"
    links:
      - database
      - cache
    volumes:
      - ./var:/var/www/html/storage
      - ./logs:/var/www/html/storage/logs
